<input 
  type="checkbox" 
  id={{inputId}}
  local-class="hidden-checkbox"
  disabled={{disabled}}
  onchange={{action "onChange"}}
>

<label 
  for={{inputId}}
  local-class="
    {{spark 'toggle'}}
    {{if on (spark 'on')}}
    {{if disabled (spark 'disabled')}}
  "
>
  <span local-class={{spark "highlight"}}></span>
  <span local-class={{spark "switch"}}></span>
</label>

